@import "../../theme/globals"

.minimatica-text
  width: 100% !important
  height: 100% !important
  border-left: 1px solid map-get($colors, primary-dark)
  box-sizing: border-box

  // an element mounted by ace
  .ace_scrollbar
    @extend %custom-scrollbar