@import "../../theme/constants"

body
  font-family: map_get($fonts, default)

header
  margin-bottom: 50px
  font-family: map-get($fonts, mono)

  .header-content--wrapper
    margin: 0 auto
    max-width: $content-width

    h1
      text-transform: uppercase
      font-size: 40px

      span
        font-size: 70px
        color: map-get($colors, primary-dark)